<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @member.user %>
</p>

<p>
  <strong>Hashed password:</strong>
  <%= @member.hashed_password %>
</p>

<p>
  <strong>Administrator:</strong>
  <%= @member.administrator %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
