<%= form_for [comment.place, comment] do |f| %>
	<div class="field">
		<%= f.label :comment, 'コメント' %><br>
		<%= f.text_area :comment %>
	</div>
	<div class="field">
		<%= f.label :name, '名前' %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.submit %>
	</div>
<% end %>