<h1>マイマップの登録一覧</h1>

<%= form_tag "/my_maps/#{@my_map.id}", :method => "patch" do %>
	<%= hidden_field_tag "way_point_ids", "1, 2, 5" %>
	<%= hidden_field_tag "place_ids", "2, 9, 3" %>
	<%= submit_tag "マイマップの順路変更" %>
<% end %>

<!--
<form method="post" type="hidden" action="/my_maps/<%= @my_map.id %>">
	<input type="hidden" name="way_point_ids" value="1,2,5">
	<input type="hidden" name="place_ids" value="2,9,3">
	<input type="hidden" name="_method" value="patch">
<% if @way_points.present? %>
<ul data-role="listview" data-inset="true" class="sortable" >
  <% @way_points.each do |way_point| %>
    <li><%= link_to way_point.place.name, "/places/#{way_point.place.id}" %></li>
  <% end %>
</ul>
<% end %>
	<p><input type="submit" value="マイマップの順路変更"></p>
</form>
-->

<br>

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script>
$(".sortable").sortable();
</script>
<!--
<%= link_to 'New My map', new_my_map_path %>
-->
	<%= link_to "マップを表示", :map_index, data: {role: :button} %>
	<%= link_to "マイマップの削除", @my_map, method: :delete, data: {role: :button} %>
	<%= link_to "トップへ", :home_index, data: {role: :button} %>
