 <%= form_for(@way_point) do |f| %>
   <% if @way_point.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@way_point.errors.count, "error") %> prohibited this way_point from being saved:</h2>
 
       <ul>
       <% @way_point.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
       </ul>
     </div>
   <% end %>

    <%= f.hidden_field :place_id %>
    <%= f.hidden_field :my_map_id %>


   <div class="actions">
   <%= f.submit("マイマップに追加") %>

   </div>

 <% end %>
