<h1>ジャンル一覧</h1>

<% if @categories.count > 0 %>
<ul data-role="listview" data-inset="true" data-theme="e" >
  <% @categories.each do |category| %>
  <li><%= link_to category.name, category %></li>
  <% end %>
</ul>
<% end %>

<%= link_to "マップを表示", :map_index, data: {role: :button} %>
<%= link_to "マイマップの登録一覧", :my_maps, data: {role: :button} %>
<%= link_to "トップへ", :home_index, data: {role: :button} %>

<!--
<table>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category, data: {role: :button} %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<br>

<!-- <%= link_to 'New Category', new_category_path %>  -->
