<p id="notice"><%= notice %></p>

<h2>
  <!--	<strong>Name:</strong>	-->
  <%= @place.name %>
</h2>

<p><%= place_image_tag @place, width: "300" %></p>

<!--	<p>
  <strong>Category:</strong>
  <%= @place.category %>
</p>	-->

<!--	<p>
  <strong>Lat:</strong>
  <%= @place.lat %>
</p>	-->

<!--	<p>
  <strong>Lng:</strong>
  <%= @place.lng %>
</p>	-->

<p>
<!--  <strong>Description:</strong>	-->
  <%= @place.description %>
</p>

<!--	<p>
  <strong>Type:</strong>
  <%= @place.type %>
</p>	-->

<!--
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
-->
