<h2>
  <!--	<strong>Name:</strong>	-->
  <%= @place.name %>
</h2>

<p><%= place_image_tag @place, width: "300" %></p>

<!--	<p>
  <strong>Category:</strong>
  <%= @place.category %>
</p>	-->

<!--	<p>
  <strong>Lat:</strong>
  <%= @place.lat %>
</p>	-->

<!--	<p>
  <strong>Lng:</strong>
  <%= @place.lng %>
</p>	-->

<p>
<!--  <strong>Description:</strong>	-->
  <%= @place.description %>
</p>


<!--	<p>
  <strong>Type:</strong>
  <%= @place.type %>
</p>	-->

<!--
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
-->

<table border="1">
<tr>
<th>住所</th><th><%= @place.address %></th>
</tr>
<tr>
<td>電話番号</td><th><%= @place.tel %></th>
</tr>
<tr>
<td>営業時間</td><th><%= @place.time %></th>
</tr>
</table>


<%= link_to "マップを表示", :map_index, data: {role: :button} %>
<%= render 'way_points/form' %>




<p>
    <b>comments:</b>
    <% @place.comments.each do |comment| %>
      <p>
        <%= "  #{comment.comment} by #{comment.name}" %>
      </p>
    <% end %>
</p>

<hr>
<%= render @place.comments.build %>






