<h1>Listing members</h1>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Password digest</th>
      <th>Administrator</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.user %></td>
        <td><%= member.password_digest %></td>
        <td><%= member.administrator %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
